




<StackLayout (onloaded)="initialAnimation()"  class="p-20 bg-d1" width="100%" height="100%">

  <AbsoluteLayout id="login-wrapper" width="100%" height="100%">

      <FlexboxLayout   #loginContainer width="100%" height="100%"
     justifyContent="center" flexDirection="column" alignItems="center">

       <!-- <Button text="playground works!" class="btn btn-primary"></Button> -->

       <StackLayout #doraemonTitle id="screen-wrapper" class="que">
         
       </StackLayout>


 <FlexboxLayout width="100%" height="100%"
     justifyContent="center" flexDirection="column" alignItems="center" class="questions-wrapper">

     <StackLayout class="questions-title"> 
        <Label [text]="selectedQuestion.question">  </Label> 
      </StackLayout>

      
      <StackLayout> 

      <FlexboxLayout justifyContent="center" flexDirection="column" alignItems="center" class="answers-wrapper">

      <FlexboxLayout justifyContent="center" flexDirection="row" alignItems="center">

      <Label (tap)="checkAnswer(selectedQuestion.option1)" [text]="selectedQuestion.option1">  </Label> 

      <Label (tap)="checkAnswer(selectedQuestion.option2)" [text]="selectedQuestion.option2">  </Label> 

      </FlexboxLayout>

      <FlexboxLayout justifyContent="center" flexDirection="row" alignItems="center">

      <Label (tap)="checkAnswer(selectedQuestion.option3)" [text]="selectedQuestion.option3">  </Label> 

      <Label (tap)="checkAnswer(selectedQuestion.option4)" [text]="selectedQuestion.option4">  </Label> 

      </FlexboxLayout>

      </FlexboxLayout>

      </StackLayout>

      <StackLayout *ngIf="correct" class="correct-answer">
        <Label text="Correct Answer"></Label>
      </StackLayout>

  </FlexboxLayout>



       <!-- <GridLayout columns="*,2*" rows="2*,3*" width="300" height="300" backgroundColor="lightgray" >
          <Label text="Label 1" col="0" row="0" backgroundColor="red"> </Label>
          <Label text="Label 2" col="1" row="0" backgroundColor="green"></Label>
          <Label text="Label 3" col="0" row="1" backgroundColor="blue"></Label>
          <Label text="Label 4" col="1" row="1" backgroundColor="yellow"></Label>
        </GridLayout> -->






       </FlexboxLayout>

  </AbsoluteLayout>

 
 
 



</StackLayout>