
@import "../assets/styles/variables";


/* Add mobile styles for the component here.  */
.bg-d1{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-section{
   margin: 0 190;
}

.lifelines{
    margin: 0 20;
}

.screen-wrapper{
    // margin-top: 25;
    background: url('~/assets/img/doraemon.png');
    width: 100%;
    height: 55%;
    // border: 1 black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(500);
}

.que{
    padding-top: 50%;
    color: white;
}

.answer{
    display: flex;
    flex-direction: row;
    border-color: $red;
    border-width: 3;
    border-radius: 30;
}

.questions-wrapper{

    margin-top: 10;
    .questions-title{
        margin-bottom: 20;
        background: rgba(0,0,0,0.8);
        // background: #0363c3;
        border-width: 4;
        border-color: gold;
        color: white;
        margin: 10 0;
        font-size: 20;
        padding: 10;
        text-align: center;
        border-radius: 10;
    }
    .answers-wrapper{
       
        // background-color: #1596d5;
      
        FlexboxLayout{
            margin: 5 0;
            background: rgba(0,0,0,0.6);
            border-radius: 10;
        }
        Label{
          
            margin: 5 5;
            font-size: 20;
            color: white;
          
            &:hover{
  
            }
        }
    }
}

.correct-answer{
    Button{
        font-size: 20;
        color: white;
        background: $green;
        // padding: 15;
        border-radius: 10;
    }
}

.border{
    border-width: 2;
    border-color: black;
}

.moneyWon {
    background: $green;
    color: white;
    font-size: 24;
    padding: 10 20;
    border-radius: 10;
}

.isCorrectAnswer{
    Label{
        border-width: 2;
        border-color: white;
        border-radius: 10;
        color: white;
        font-size: 24;
        padding: 10;
    }
}


.bg-white{
    background: white;
    padding: 8;
    border-radius: 50%;
}

.audience {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 0;
    .audienceChild {
        background: white;
        padding: 20 50;
        z-index: 100;
        border-radius: 20;
        Label {
            color: black;
            font-size: 24;
        }
    }
   
}

.phone {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    .phoneChild {
        background: white;
        padding: 20 50;
        z-index: 10000;
        border-radius: 20;
        .friend-photos{
            Image{
                border-radius: 50%;
                height:100;
                width: 100;
            }
        }
        Label {
            color: black;
            font-size: 24;
        }
    }
   
}

.cross{
    color: black;
    font-weight: 900;
    font-size: 30;
}

.winner{
    background: url('~/assets/img/winner.jpg');
    padding-top: 5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mt20{
    transform: translateY(-20);
}