<AbsoluteLayout #kqd (onloaded)="initialAnimation()" id="login-wrapper" width="100%" height="100%">

  <StackLayout class="bg-d1" width="100%" height="100%">

    <FlexboxLayout  width="100%" height="100%" justifyContent="center" flexDirection="column"
      alignItems="center">

      <AbsoluteLayout #loginContainer width="100%" height="100%">
        <FlexboxLayout class="top-section" top="0" class="border" height="100" width="100%" justifyContent="space-between" alignItems="center"
          class="que">

          <FlexboxLayout  class="lifelines">
            <Image height="100" width="100" src='~/assets/img/fifty.png'></Image>
          </FlexboxLayout>

          <FlexboxLayout #screenwrapper class="screen-wrapper">
              
          </FlexboxLayout>

         

        </FlexboxLayout>



        <FlexboxLayout width="100%" top="100" justifyContent="center" flexDirection="column" alignItems="center"
          class="questions-wrapper">
          <StackLayout (tap)="getPermission()" class="questions-title" width="110%">
            <Label top="500" [text]="selectedQuestion.question"> </Label>
          </StackLayout>

          <FlexboxLayout class="answers-wrapper" flexDirection="column">

            <FlexboxLayout  *ngIf="tap" alignItems="flex-start"> <Label text="1."></Label> <Label
              (tap)="checkAnswer(selectedQuestion.option1, tap1)" [text]="selectedQuestion.option1"> </Label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="flex-start"> <Label text="2. "></Label> <Label
               (tap)="checkAnswer(selectedQuestion.option2, tap2)" [text]="selectedQuestion.option2"> </Label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="flex-start"> <Label text="3. "></Label> <Label
               (tap)="checkAnswer(selectedQuestion.option3, tap3)" [text]="selectedQuestion.option3"> </Label>
            </FlexboxLayout>

            <FlexboxLayout alignItems="flex-start"> <Label text="4. "></Label> <Label
               (tap)="checkAnswer(selectedQuestion.option4, tap4)" [text]="selectedQuestion.option4"> </Label>
            </FlexboxLayout>


          </FlexboxLayout>


        </FlexboxLayout>
      </AbsoluteLayout>
      <!-- <Button text="playground works!" class="btn btn-primary"></Button> -->

    </FlexboxLayout>

  </StackLayout>

  <Image id="noob" [top]="topValueNoob" left="-15" height="200" width="200" src='~/assets/img/nob1.png'></Image>
  <Image id="dora" [top]="topValueNoob" [left]="leftValueDora" height="200" width="200" src='~/assets/img/dora1.png'></Image>
  <FlexboxLayout [backgroundColor]="correctWrongBgColor" id="correct" class="correct-answer" top="0" width="100%" height="100%" justifyContent="center" alignItems="center">
   <Label [text]="correctWrongText" textWrap="true"></Label>
  </FlexboxLayout>
  <FlexboxLayout id="moneyWonRef" top="54" [left]="moneyWonLeft"  alignItems="center" justifyContent="center">
    <Label  class="moneyWon" [text]="moneyWon"></Label>
  </FlexboxLayout>
</AbsoluteLayout>